    <script src="https://kit.fontawesome.com/b4e25b8ffb.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
<footer class="page-footer font-small bg-dark pt-4 mt-auto">
    <div class="footer-copyright text-center py-3">
        Made with ❤️ by <a href="github.com/AryanFelix"> Aryan Felix</a>, <a href="github.com/YuZaGa"> Yumn Gauhar</a> and <a href="github.com/pujara0999"> Pramit Pujara</a>.
    </div>
</footer>
</html>