<%- include("header") -%>
<div class="container-fluid" style="text-align: center;">
    <p style="color: red; padding-top: 10px;"><%= msg %></p>
</div>
<div class="container-fluid main-content d-flex align-items-center">
    <div class="row d-flex">
        <div class="col d-flex justify-content-end">
            <form action="/stulog" method="GET">
                <button type="submit" class="btn3d btn btn-white btn-lg">Student</button>
            </form>
        </div>
        <div class="col d-flex justify-content-start">
            <form action="/admlog" method="GET">
                <button type="submit" class="btn btn-danger btn-lg btn3d">Admin</button>
            </form>
        </div>
    </div>
</div>

<%- include("footer") -%>